/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --white-color: white;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/************* Header ***********/
.logoBooki img {
    width: 62px;
    padding-top: 30px;
}

.headerLogo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 60px;
}

/************* Nav ***********/
nav {
    display: flex;
    gap: 68px;
    align-items: flex-start;
}

nav a {
    padding-top: 14px;
    border-top: 2px solid transparent;
}

nav a:hover {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
    transition: 100ms;
}

section h2 {
    margin: 0;
}

br {
    display: none;
}

section p {
    margin: 8px 0 35px 0;
}

/****** form ***********/

form {
    margin: 20px 0 35px 0;
}

label {
    border: var(--main-bg-color) 0 solid;
    padding: 18px 15px 15px 18px;
    background-color: var(--main-bg-color);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right: -4px;
}

input {
    border: 1px solid var(--main-bg-color);
    padding:14px 0 14px 24px;
    font-weight: 700;
    font-size: 18px;
}

::placeholder {
    color: black;
}

button {
    border: var(--main-color) 1px solid;
    background-color: var(--main-color);
    padding: 15px 18px 15px 18px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: var(--white-color);
    font-size: 18px;
    font-weight: 700;
    margin-left: -4px;
    cursor: pointer;
}

.location {
    color: black;
}

.loupe {
    display: none;
    color: var(--white-color);
}

/*********** Filtres ***********/

.title-filters {
    font-size: 18px;
    padding-bottom: 20px;
}

.filters {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    flex-wrap: wrap;
    align-items: baseline;

}

.filters h2 {
    font-size: 16px;
    padding-bottom: 20px;
}

.item {
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    display: flex;
    padding: 10px 15px 10px 20px;
    white-space: nowrap;
    font-weight: 700;
    cursor: pointer;
}


.item i {
    color: var(--main-color);
    padding-right: 10px;
}

.item:hover {
    background: var(--filter-bg-color);
    transition: 500ms;
}

.loc {
    display: flex;
    align-items: baseline;
}

.info {
    margin: 35px 10px 35px 0;
    color: var(--main-color);
    border: 2px solid #f2f2f2;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.hebergements h2 {
    padding-bottom: 30px;
}

.hebergements .card {
    width: 28%;
    height: 207px;
    display: flex;
    flex-direction: column;
}

.hebergements .card img {
    height: 124px;
    border-radius: 20px 20px 0 0;
}

.hebergements .card-content h3 {
    margin: 8px 0 8px 0;
}

.hebergements .card-content {
    margin-left: 15px;
}

.hebergements .card-content p {
    font-size: 14px;
    margin-bottom: 8px;
}

.afficherPlus {
    margin-top: 30px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.populaires-cards .card {
    display: flex;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activité  ***********/

.activites-cards {
    padding: 30px;
    margin-bottom: 60px;
}

.activites-cards h2 {
    width: 100%;
    padding-top: 65px;
    padding-bottom: 30px;
}

.activites {
    display: flex;
    max-width: 1340px;
    height: 439px;
    gap: 30px;
}

.activites .card {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.activites .card img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}

.card-header-activites {
    padding: 20px;
    font-weight: 700;
}

/*************** Footer **************/

footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 225px;
    background-color: var(--main-bg-color);
    gap: 10%;
}

.colonneFooter {
    margin: 25px 0 30px 70px;
}

.colonneFooter h2 {
    font-size: 18px;
    margin-bottom: 25px;
    font-weight: 700;
}

.colonneFooter p {
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    padding-bottom: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .main-container {
        box-sizing: unset;
        padding: 0;
    }

    header {
        padding-left: 45px;
        padding-right: 45px;
    }

    .filters {
        gap: 5px;
    }

/*************** Hébergements et Populaires tablette **************/

    .hebergements-and-populaires {
        flex-direction: column;
    }

    /*************** Hébergements Tablette **************/
    .hebergements {
        width: 100%;
    }

    /*************** Populaires Tablette **************/
    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /*************** Activités Tablette **************/

    .activites {
        height: 270px;
    }

    .activites .card img {
        min-height: 200px;
    }

    /****** Footer tablette ***********/
    footer {
        gap: 0;
    }

    .colonneFooter {
        margin: 25px 0 30px 60px;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    .main-container {
        padding: 0;
    }

    body {
        margin: 0;
    }

    /****** Les titres smartphone ***********/
    .hebergements h2,
    .activites h2 {
        max-width: 330px;
        
    }

    /****** Header smartphone ***********/
    header {
        padding: 20px;
    }

    /****** Nav smartphone ***********/
    .headerLogo {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding-bottom: 20px;
    }

    .logoBooki {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-bottom: 50px;
    }

    nav {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 0;
    }

    nav a {
        display: flex;
        justify-content: center;
        padding: 0 35px 20px 20px;
        width: 50%;
    }

    nav a:hover {
        color: var(--main-color);
        border-bottom: 2px solid var(--main-color);
        border-top: none;
    }

    br {
        display: block;
    }

    .find {
        width: 100%;
        text-align: center;
    }

    /****** Form smartphone *****/

    .form {
        display: flex;
        justify-content: center;
    }

    input {
        width: 236px;
    }

    .rechercher {
        display: none;
    }

    button {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        padding: 15px;
        margin-left: -12px;
    }

    .loupe {
        display: block;
    }

    /****** Les filtres smartphone *****/

    .filters {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .filters h2 {
        width: 100%;
    }

    .item {
        display: flex;
        flex-direction: row;
        width: 36%;
        font-size: 13px;
        padding: 15px;
    }

    .item i {
        padding-right: 8px;
    }

    /*********Hébergements populaires téléphone *******/

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        padding: 0;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
    }

    .hebergements-and-populaires .hebergements {
        background-color: var(--white-color);
    }

    /*********Les plus populaires téléphone *******/
    
    .populaires {
        margin-top: 0;
    }
    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards .card {
        width: 100%;
    }

 /*********Hébergements téléphone *******/

.hebergements-cards {
    flex-direction: column;
}

.hebergements-cards .card {
    width: 100%;
}

/*********Activités téléphone *******/

.activites {
    width: auto;
    height: auto;
    flex-direction: column;
}

.activites .card {
    height: 200px;
}

.activites .card img {
    min-height: 141px;
}

/********* Footer téléphone *******/

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 580px;
}

.colonneFooter {
    margin: 25px 0 10px 30px;
}

}